docs/
runbooks/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

node_modules/

*.ps1
*.sh
*.bat
*.cmd
*.exe
*.dll
*.lib
*.exp

PROJECT_BACKLOG.md
Road-map.md

__pycache__/

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz